{% load staticfiles %}<footer>
    <link rel="stylesheet" href="{% static 'css/modules/footer.css' %}">
    <a href="/"><div class="footer_logo"></div></a>
    <div style="margin-bottom: 1.5em;">
        <a href="/" target="_blank" title=""><span class="footer_link">LINK 1</span></a> |
        <a href="/" target="_blank"><span class="footer_link">LINK 2</span></a> |
        <a href="/" target="_blank"><span class="footer_link">LINK 3</span></a>
    </div>
    <div class="footer_copyright">All rights reserved.</div>
    <div class="footer_copyright">2018 NEXT INC. ALL RIGHTS RESERVED.</div>
</footer>